<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="mostar-cont">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <template is="dom-repeat" items="{{mostar}}">
      <div>
          <label>items.nombre</label>
      </div>
    </template>
  </template>

  <script>
    /**
     * `mostar-cont`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MostarCont extends Polymer.Element {
      static get is() { return 'mostar-cont'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mostar-cont'
          }
          mostrar:{
            type:Array,
            value: []
          }
        };
      }

    }

    window.customElements.define(MostarCont.is, MostarCont);
  </script>
</dom-module>
